/* color start */
.bg-transparent {
    background-color: transparent;
}

.bg-red {
    background-color: rgb(170, 1, 1);
}

.bg-blue {
    background-color: rgb(2, 2, 199);
}

.bg-green {
    background-color: #008000;
}

.bg-yellow {
    background-color: #ffff00;
}

.bg-violet {
    background-color: #ee82ee;
}

.bg-black {
    background-color: #000;
}

.bg-black {
    background-color: #000;
}

.bg-light-gray {
    background-color: #e6e6e6;
}

.bg-gray {
    background-color: #999898;
}

.bg-white {
    background-color: #fff;
}

.color-white {
    color: #fff
}

.color-black {
    color: #000;
}

.color-gray {
    color: #636363;
}

.color-light-gray {
    color: #d3d3d3;
}

/* color end */

.bg-primary {
    background-color: #56c2dc;
}

.color-primary {
    color: #56c2dc;
}