/* color start */
.bg-transparent {
    background-color: transparent;
}


.bg-black {
    background-color: #000;
}

.bg-black {
    background-color: #000;
}

.bg-light-gray {
    background-color: #e6e6e6;
}

.bg-gray {
    background-color: #999898;
}

.bg-white {
    background-color: #fff;
}

.color-white {
    color: #fff
}

.color-black {
    color: #000;
}

.color-gray {
    color: #636363;
}

.color-light-gray {
    color: #d3d3d3;
}

/* color end */

.bg-primary {
    background-color: #56c2dc;
}

.color-primary {
    color: #56c2dc;
}

.bg-purple {
    background-color: #9b4dca;
}

.bg-gray-1 {
    background-color: #606c76;
}

.bg-gray-2 {
    background-color: #d1d1d1;
}